html{
    font-size: 10px;
    font-family: 'Open sans''sans-serif';

}


h1{
     font-size:60x ;
     text-align: center;

}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
   
}

html{
    background-color: hsl(255, 73%, 61%);
}

body{
    width:600px;
    margin: 0 auto; 
    background-color: rgb(241, 111, 250);
    padding:0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    padding:20px 0;
    color: #570f53;
    text-shadow: 7px 7px 5px black;
}

img{
    display:block;
    margin: 0 auto;
}